In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("owid-covid-data.csv")

In [7]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114054,ZWE,Africa,Zimbabwe,2021-08-30,124581.0,144.0,225.714,4416.0,15.0,17.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114055,ZWE,Africa,Zimbabwe,2021-08-31,124773.0,192.0,207.571,4419.0,3.0,14.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114056,ZWE,Africa,Zimbabwe,2021-09-01,124960.0,187.0,178.429,4438.0,19.0,14.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114057,ZWE,Africa,Zimbabwe,2021-09-02,125118.0,158.0,161.714,4449.0,11.0,13.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
114058,ZWE,Africa,Zimbabwe,2021-09-03,125331.0,213.0,156.429,4457.0,8.0,11.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [10]:
df.sahpe

AttributeError: 'DataFrame' object has no attribute 'sahpe'

In [6]:
df.isnull().count()

iso_code                      114059
continent                     114059
location                      114059
date                          114059
total_cases                   114059
                               ...
handwashing_facilities        114059
hospital_beds_per_thousand    114059
life_expectancy               114059
human_development_index       114059
excess_mortality              114059
Length: 62, dtype: int64