In [127]:
import pandas as pd
df = pd.read_csv("data.csv")

In [128]:
#choose some columns from the dataset
columns=["Fare","Embarked","Sex","Age"]
X=df[columns]

In [129]:
X

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [130]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

In [131]:
ohe=OneHotEncoder()

# 1

In [132]:
#seven ways but same result :D
ct1= make_column_transformer((ohe,["Embarked","Sex"]))

In [133]:
ct1.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 2

In [134]:
ct2=make_column_transformer((ohe,[1,2]))

In [135]:
ct2.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 3

In [136]:
ct3=make_column_transformer((ohe,[False,True,True,False]))

In [137]:
ct3.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 4

In [138]:
ct4=make_column_transformer((ohe,slice(1,3)))

In [139]:
ct4.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 5

In [140]:
#regular expression column include E or S
ct5=make_column_transformer((ohe,make_column_selector(pattern="E|S")))

In [141]:
ct5.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 6

In [142]:
ct6=make_column_transformer((ohe,make_column_selector(dtype_include=object)))

In [143]:
ct6.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])

# 7

In [145]:
ct7=make_column_transformer((ohe,make_column_selector(dtype_exclude="number")))

In [146]:
ct7.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])