In [54]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)

In [55]:
#choose some columns from the dataset
columns=["Fare","Embarked","Sex","Age"]
X=df[columns]

In [56]:
X

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [57]:
#importings
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [58]:
#creating objects of OneHOtEncoder and SimpleImputer
ohe=OneHotEncoder()
imp=SimpleImputer()

In [59]:
#main point of the tip
#add tuples as parameters and tell remain columns to skip
ct=make_column_transformer(
    (ohe,["Embarked","Sex"]),
    (imp,["Age"]),
    remainder="passthrough")

In [60]:
#Column transformer
ct

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(),
                                 ['Embarked', 'Sex']),
                                ('simpleimputer', SimpleImputer(), ['Age'])])

In [61]:
X=ct.fit_transform(X)

In [62]:
X

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])