In [32]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython import get_ipython
import warnings
warnings.filterwarnings("ignore")

1. Importing Libraries And Loading the Dataset

In [33]:
df = pd.read_csv("data/students_adaptability_level_online_education.csv")
df.head()

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,Flexibility Level
0,University,Private,Male,23,Tab,No,Town,Mid,Wifi,4G,Moderate
1,University,Private,Female,23,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
2,College,Public,Female,18,Mobile,No,Town,Mid,Wifi,4G,Moderate
3,School,Private,Female,11,Mobile,No,Town,Mid,Mobile Data,4G,Moderate
4,School,Private,Female,18,Mobile,No,Town,Poor,Mobile Data,3G,Low

Exploring dataset

In [34]:
def explore_dataset(data):
    print(f"1. Dimentions of the Dataset : {data.shape}\n")
    print(f"2. Features in Dataset : \n{data.columns}\n")
    print(f"3. Duplicated count : {data.duplicated().sum()}\n")
    print(f"4. Info : \n{data.info()}\n")
    print(f"5. Deccribe : \n{data.describe()}\n")

In [35]:
explore_dataset(df)

1. Dimentions of the Dataset : (1205, 11)

2. Features in Dataset :
Index(['Education Level', 'Institution Type', 'Gender', 'Age', 'Device',
       'IT Student', 'Location', 'Financial Condition', 'Internet Type',
       'Network Type', 'Flexibility Level'],
      dtype='object')

3. Duplicated count : 980

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education Level      1205 non-null   object
 1   Institution Type     1205 non-null   object
 2   Gender               1205 non-null   object
 3   Age                  1205 non-null   int64
 4   Device               1205 non-null   object
 5   IT Student           1205 non-null   object
 6   Location             1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Flexibility Level    1205 non-null   object
dtypes: int64(1), object(10)
memory usage: 103.7+ KB
4. Info :
None

5. Deccribe :
               Age
count  1205.000000
mean     17.065560
std       5.830369
min       9.000000
25%      11.000000
50%      18.000000
75%      23.000000
max      27.000000

In [36]:
# unique data count in each feature
df.nunique()

Education Level        3
Institution Type       2
Gender                 2
Age                    6
Device                 3
IT Student             2
Location               2
Financial Condition    3
Internet Type          2
Network Type           3
Flexibility Level      3
dtype: int64

In [37]:
# remove all duplites
df = df.drop_duplicates()
df.duplicated().sum()

0