In [65]:
pip install klib

Requirement already satisfied: klib in c:\users\saranga\anaconda3\lib\site-packages (0.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.15.4 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (1.18.5)
Requirement already satisfied: seaborn>=0.11.1 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (0.11.2)
Requirement already satisfied: matplotlib>=3.0.3 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (3.2.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (1.5.0)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (0.24.2)
Requirement already satisfied: pandas>=1.1 in c:\users\saranga\anaconda3\lib\site-packages (from klib) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\saranga\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\saranga\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\saranga\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\saranga\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saranga\anaconda3\lib\site-packages (from scikit-learn>=0.23->klib) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\saranga\anaconda3\lib\site-packages (from scikit-learn>=0.23->klib) (0.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\saranga\anaconda3\lib\site-packages (from pandas>=1.1->klib) (2020.1)
Requirement already satisfied: six in c:\users\saranga\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.3->klib) (1.15.0)

In [66]:
import pandas as pd
import numpy as np
df=pd.read_csv("iris.csv")

# Sliding Window

In [67]:
data=pd.DataFrame({"Date":["2020/05/01","2020/05/02","2020/05/03","2020/05/04","2020/05/06"],"Price":[100,150,145,110,123]})

In [68]:
data

         Date  Price
0  2020/05/01    100
1  2020/05/02    150
2  2020/05/03    145
3  2020/05/04    110
4  2020/05/06    123

In [69]:
data["Next Day Price"]=np.roll(data["Price"].values,-1)

In [70]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123
4  2020/05/06    123             100

In [71]:
data.drop(4,inplace=True)

In [72]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123

# Standerdizing

In [73]:
data1=pd.DataFrame({"Height":[1.23,2.34,1.43,5.67,2.32,5.56],"Width":[32,32,43,43,23,56]})

In [74]:
#st
data1

   Height  Width
0    1.23     32
1    2.34     32
2    1.43     43
3    5.67     43
4    2.32     23
5    5.56     56

In [75]:
#std_data=(value-mean)/std
#manual
np.array(data1["Height"])-np.array(data1["Height"]).mean()/np.array(data1["Height"]).std()

array([-0.45798754,  0.65201246, -0.25798754,  3.98201246,  0.63201246,
        3.87201246])

In [76]:
#lambda
fun=lambda x:np.array(x)-np.array(x).mean()/np.array(x).std()
fun([2,1,3,1,2,1,3])

array([-0.22948161, -1.22948161,  0.77051839, -1.22948161, -0.22948161,
       -1.22948161,  0.77051839])

In [77]:
data_std=data1.apply(fun)

In [78]:
std=data1.apply(lambda x:np.array(x)-np.array(x).mean()/np.array(x).std())

In [79]:
std

     Height      Width
0 -0.457988  28.390454
1  0.652012  28.390454
2 -0.257988  39.390454
3  3.982012  39.390454
4  0.632012  19.390454
5  3.872012  52.390454