In [9]:
import pandas as pd
import numpy as np

In [10]:
data=pd.DataFrame({"Date":["2020/05/01","2020/05/02","2020/05/03","2020/05/04","2020/05/06"],"Price":[100,150,145,110,123]})

In [11]:
data

         Date  Price
0  2020/05/01    100
1  2020/05/02    150
2  2020/05/03    145
3  2020/05/04    110
4  2020/05/06    123

In [12]:
data["Next Day Price"]=np.roll(data["Price"].values,-1)

In [13]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123
4  2020/05/06    123             100

In [15]:
data.drop(4,inplace=True)

In [16]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123