In [49]:
import pandas as pd
import numpy as np

# Sliding Window

In [50]:
data=pd.DataFrame({"Date":["2020/05/01","2020/05/02","2020/05/03","2020/05/04","2020/05/06"],"Price":[100,150,145,110,123]})

In [51]:
data

         Date  Price
0  2020/05/01    100
1  2020/05/02    150
2  2020/05/03    145
3  2020/05/04    110
4  2020/05/06    123

In [52]:
data["Next Day Price"]=np.roll(data["Price"].values,-1)

In [53]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123
4  2020/05/06    123             100

In [54]:
data.drop(4,inplace=True)

In [55]:
data

         Date  Price  Next Day Price
0  2020/05/01    100             150
1  2020/05/02    150             145
2  2020/05/03    145             110
3  2020/05/04    110             123

# Standerdizing

In [56]:
data1=pd.DataFrame({"Height":[1.23,2.34,1.43,5.67,2.32,5.56],"Width":[32,32,43,43,23,56]})

In [57]:
data1

   Height  Width
0    1.23     32
1    2.34     32
2    1.43     43
3    5.67     43
4    2.32     23
5    5.56     56

In [58]:
#std_data=(value-mean)/std
#manual
np.array(data1["Height"])-np.array(data1["Height"]).mean()/np.array(data1["Height"]).std()

array([-0.45798754,  0.65201246, -0.25798754,  3.98201246,  0.63201246,
        3.87201246])

In [59]:
#lambda
fun=lambda x:np.array(data1[x])-np.array(data1[x]).mean()/np.array(data1[x]).std()

In [60]:
data_std=data1.apply(fun)

KeyError: "None of [Float64Index([1.23, 2.34, 1.43, 5.67, 2.32, 5.56], dtype='float64')] are in the [columns]"

In [ ]:
std=data1.apply(lambda x:np.array(data1[x])-np.array(data1[x]).mean()/np.array(data1[x]).std())

In [61]:
std

NameError: name 'std' is not defined