# Linear Regression 

## The Boston Housing Dataset

The Boston Housing Dataset is a derived from information collected by the U.S. Census Service concerning housing in the area of Boston MA. The following describes the dataset columns:

CRIM - per capita crime rate by town

ZN - proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS - proportion of non-retail business acres per town.

CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)

NOX - nitric oxides concentration (parts per 10 million)

RM - average number of rooms per dwelling

AGE - proportion of owner-occupied units built prior to 1940

DIS - weighted distances to five Boston employment centres

RAD - index of accessibility to radial highways

TAX - full-value property-tax rate per $10,000

PTRATIO - pupil-teacher ratio by town

B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT - % lower status of the population

MEDV - Median value of owner-occupied homes in $1000's

In [207]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import statsmodels.api as sm

In [186]:
boston_data=pd.read_csv("Boston.csv")

In [187]:
boston_data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [188]:
boston_data.columns

Index(['crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [189]:
boston_data.describe()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [190]:
boston_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   nox      506 non-null    float64
 4   rm       506 non-null    float64
 5   age      506 non-null    float64
 6   dis      506 non-null    float64
 7   rad      506 non-null    int64
 8   tax      506 non-null    int64
 9   ptratio  506 non-null    float64
 10  black    506 non-null    float64
 11  lstat    506 non-null    float64
 12  medv     506 non-null    float64
dtypes: float64(11), int64(2)
memory usage: 51.5 KB

In [191]:
boston_data.shape

(506, 13)

In [192]:
boston_data.isnull().sum()

crim       0
zn         0
indus      0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [193]:
X=boston_data.iloc[:,:12].values
y=boston_data.iloc[:,12].values

In [194]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [195]:
model=LinearRegression()

In [196]:
model.fit(X_train,y_train)

LinearRegression()

In [197]:
model.intercept_

43.054143553236656

In [198]:
model.coef_

array([-1.16864610e-01,  5.89919351e-02,  3.13788055e-02, -1.89083776e+01,
        3.13767259e+00,  5.91799939e-03, -1.51102394e+00,  3.24766367e-01,
       -1.24228129e-02, -1.01509615e+00,  7.67905631e-03, -5.51889602e-01])

In [199]:
model.score(X_train,y_train)*100

72.55484607372183

In [200]:
y_pred=model.predict(X_test)

In [201]:
MSE=mean_squared_error(y_pred,y_test)

In [202]:
MSE

24.178715197043054

In [203]:
RMSE=np.sqrt(MSE)

In [209]:
RMSE

4.917185698856924

# Stat Models

In [208]:
X_with_constant=sm.add_constant(X_train)

In [210]:
model_sm=sm.OLS(y_train,X_with_constant)

In [211]:
result=model_sm.fit()

In [214]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.726
Model:                            OLS   Adj. R-squared:                  0.717
Method:                 Least Squares   F-statistic:                     86.14
Date:                Wed, 25 Aug 2021   Prob (F-statistic):          8.65e-102
Time:                        21:18:25   Log-Likelihood:                -1199.2
No. Observations:                 404   AIC:                             2424.
Df Residuals:                     391   BIC:                             2476.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         43.0541      5.785      7.443      0.000      31.681      54.427
x1            -0.1169      0.034     -3.405      0.001      -0.184      -0.049
x2             0.0590      0.016      3.634      0.000       0.027       0.091
x3             0.0314      0.068      0.463      0.644      -0.102       0.165
x4           -18.9084      4.291     -4.407      0.000     -27.344     -10.473
x5             3.1377      0.481      6.520      0.000       2.192       4.084
x6             0.0059      0.015      0.395      0.693      -0.024       0.035
x7            -1.5110      0.231     -6.553      0.000      -1.964      -1.058
x8             0.3248      0.078      4.166      0.000       0.171       0.478
x9            -0.0124      0.004     -2.835      0.005      -0.021      -0.004
x10           -1.0151      0.150     -6.786      0.000      -1.309      -0.721
x11            0.0077      0.003      2.535      0.012       0.002       0.014
x12           -0.5519      0.058     -9.575      0.000      -0.665      -0.439
==============================================================================
Omnibus:                      169.095   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              863.994
Skew:                           1.747   Prob(JB):                    2.43e-188
Kurtosis:                       9.254   Cond. No.                     1.50e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.5e+04. This might indicate that there are
strong multicollinearity or other numerical problems.