In [44]:
import pandas as pd
import numpy as np
import re #usful for searching words in pharagraph
from nltk.corpus import stopwords  #words doesn't add much value to phara (rticals)
from nltk.stem.porter import PorterStemmer #gives a root word
from sklearn.feature_extraction.text import TfidfVectorizer #convert text in to feature vectors
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [45]:
data=pd.read_excel("questions.xlsx")

In [46]:
data

                                 Question    Type
0                      what is your name?    Name
1                       what's yout name?    Name
2                            name please?    Name
3            Is there a name to call you?    Name
4                            Who are you?    Name
5            Can I have your name please?    Name
6             what is your mobile number?  Number
7              what's yout mobile number?  Number
8                   mobile number please?  Number
9   Is there a mobile number to call you?  Number
10              what is your cellular no?  Number
11         Can I have your number please?  Number

In [47]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Saranga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [48]:
#seperate the data and label
X=data["Question"] 
y=data["Type"]

In [49]:
port_stem=PorterStemmer()

In [50]:
def stemming(content):
    stemmed_content=re.sub("[^a-zA-z]"," ",content)
    stemmed_content=stemmed_content.lower()
    stemmed_content=stemmed_content.split()
    stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words("english")]
    stemmed_content= " ".join(stemmed_content)
    return stemmed_content

In [51]:
data["Question"]=data["Question"].apply(stemming)

In [52]:
data

              Question    Type
0                 name    Name
1            yout name    Name
2           name pleas    Name
3            name call    Name
4                         Name
5           name pleas    Name
6         mobil number  Number
7    yout mobil number  Number
8   mobil number pleas  Number
9    mobil number call  Number
10            cellular  Number
11        number pleas  Number

In [53]:
data.replace({"Type":{"Name":0,"Number":1,"CNG":2}},inplace=True)

In [54]:
X=data["Question"].values
y=data["Type"].values

In [55]:
#ocnverting data to numerical data
vectorizer=TfidfVectorizer()
X=vectorizer.fit_transform(X)

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [57]:
#training model
log_reg=LogisticRegression()

In [58]:
log_reg.fit(X_train,y_train)

LogisticRegression()

In [59]:
#accuracy on train data
X_train_pred=log_reg.predict(X_train)
acc=accuracy_score(X_train_pred,y_train)

In [60]:
print("train data accuracy : ",acc*100,"%")

train data accuracy :  88.88888888888889 %

In [61]:
#accuracy on test data
X_test_pred=log_reg.predict(X_test)
acc=accuracy_score(X_test_pred,y_test)

In [62]:
print("test data accuracy : ",acc*100,"%")

test data accuracy :  100.0 %

In [64]:
log_reg.predict(X_test[0])

array([0], dtype=int64)

In [66]:
y_test[0]

0