In [52]:
#Hyper Parameter Optimization 
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV,KFold
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error,accuracy_score
import numpy as np

In [53]:
df=pd.read_csv("Boston.CSV")

In [54]:
df.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [55]:
X=df.drop("medv",axis=1)
y=df["medv"]

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [57]:
X.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [58]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: medv, dtype: float64

# Grid Search

In [59]:
model=Lasso()
#posible hyper parameters
params={"alpha":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]}
cval=KFold(n_splits=10)

In [60]:
gsearch=GridSearchCV(model,params,cv=cval)

In [61]:
results=gsearch.fit(X_train,y_train)
results.best_params_

{'alpha': 0.1}

# Random Search

In [62]:
rsearch=RandomizedSearchCV(model,params,cv=cval)
results_random=rsearch.fit(X_train,y_train)
results_random.best_params_

{'alpha': 0.1}

In [63]:
model=Lasso(alpha=0.1)

In [64]:
model.fit(X_train,y_train)

Lasso(alpha=0.1)

In [65]:
predictions=model.predict(X_test)

In [66]:
mean_squared_error(y_test,predictions)

36.32862786757526