In [62]:
import pandas as pd
df = pd.read_csv("data.csv")

In [63]:
#choose some columns from the dataset
columns=["Fare","Embarked","Sex","Age"]
X=df[columns]

In [64]:
X

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [65]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

In [66]:
ohe=OneHotEncoder()

In [67]:
#seven ways but same result :D
ct1= make_column_transformer((ohe,["Embarked","Sex"]))

In [68]:
ct.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])