In [7]:
import pandas as pd
df = pd.read_csv("data.csv")

In [8]:
#choose some columns from the dataset
columns=["Fare","Embarked","Sex","Age"]
X=df[columns]

In [9]:
X

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [10]:
#importings
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [11]:
#creating objects of OneHOtEncoder and SimpleImputer
ohe=OneHotEncoder()
imp=SimpleImputer()

In [12]:
#main point of the tip
#add tuples as parameters and tell remain columns to skip
ct=make_column_transformer(
    (ohe,["Embarked","Sex"]),
    (imp,["Age"]),
    remainder="passthrough")

In [13]:
#Column transformer
ct

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(),
                                 ['Embarked', 'Sex']),
                                ('simpleimputer', SimpleImputer(), ['Age'])])

In [14]:
X=ct.fit_transform(X)

In [15]:
X

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])

In [16]:
pd.DataFrame(X)

     0    1    2    3    4     5        6
0  0.0  0.0  1.0  0.0  1.0  22.0   7.2500
1  1.0  0.0  0.0  1.0  0.0  38.0  71.2833
2  0.0  0.0  1.0  1.0  0.0  26.0   7.9250
3  0.0  0.0  1.0  1.0  0.0  35.0  53.1000
4  0.0  0.0  1.0  0.0  1.0  35.0   8.0500
5  0.0  1.0  0.0  0.0  1.0  31.2   8.4583