In [83]:
import pip
pip.main(["install","imblearn"])

Requirement already satisfied: imblearn in c:\users\saranga\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\saranga\anaconda3\lib\site-packages (from imblearn) (0.8.0)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\saranga\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\saranga\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in c:\users\saranga\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.16.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\saranga\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saranga\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

0

In [84]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE,ADASYN

In [85]:
df=pd.read_csv("Bank_Imbalance.csv")

In [86]:
df.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,1
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,1
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,1
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [87]:
X=df.drop("y",axis=1)
y=df["y"]

In [88]:
df.shape

(2999, 8)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             2999 non-null   int64
 1   duration        2999 non-null   int64
 2   emp_var_rate    2999 non-null   float64
 3   cons_price_idx  2999 non-null   float64
 4   cons_conf_idx   2999 non-null   float64
 5   euribor3m       2999 non-null   float64
 6   nr_employed     2999 non-null   float64
 7   y               2999 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 187.6 KB

In [90]:
df.describe()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,40.010337,251.814938,0.058319,93.572813,-40.528776,3.592103,5165.746449,0.798933
std,10.376834,243.934367,1.569883,0.578985,4.650930,1.741595,72.942442,0.400865
min,18.000000,5.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000,0.000000
25%,32.000000,104.000000,-1.800000,93.075000,-42.700000,1.339000,5099.100000,1.000000
50%,38.000000,178.000000,1.100000,93.444000,-41.800000,4.857000,5191.000000,1.000000
75%,47.000000,317.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,1.000000
max,88.000000,3643.000000,1.400000,94.767000,-26.900000,5.000000,5228.100000,1.000000

# SMOTE

In [91]:
smt=SMOTE()
#return two variables

In [92]:
X_sm,y_sm=smt.fit_resample(X,y)

In [93]:
print("X :",X.shape,", y :",y.shape)

X : (2999, 7) , y : (2999,)

In [94]:
print("X_sm :",X_sm.shape,", y_sm :",y_sm.shape)

X_sm : (4792, 7) , y_sm : (4792,)

# ADASYN

In [95]:
ada=ADASYN()

In [96]:
X_ada,y_ada=ada.fit_resample(X,y)

In [97]:
print("X_ada :",X_ada.shape,", y_ada :",y_ada.shape)

X_ada : (4798, 7) , y_ada : (4798,)