In [1]:
import pandas as pd
import plotly.express as px

In [5]:
df=pd.read_excel("data.xlsx", sheet_name="DATA",header=3,uscols="B:D")
df.head()

   Unnamed: 0  Department  Age  Rating  Unnamed: 4 Departments  Participants
0         NaN   Marketing   59  3 Star         NaN     Finance          69.0
1         NaN    Logistic   58  2 Star         NaN    Logistic         115.0
2         NaN  Purchasing   49  2 Star         NaN   Marketing         218.0
3         NaN    Logistic   43  3 Star         NaN  Purchasing          39.0
4         NaN    Logistic   32  2 Star         NaN       Sales         235.0

In [6]:
df.shape

(676, 7)

## graphs